@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(217, 217, 217);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100svh !important;
}

body {
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message-liked {
  position: relative;
}

.liked-icon {
  position: absolute;
  bottom: 0;
  left: calc(-6px);
  top: calc(100% - 14px);
  font-size: 1.35rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 30px;
}

.animate-heart {
  animation: heartPulse 0.3s ease-in-out;
}

@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}